html {
  margin: 0;
}

span {
  display: block;
}
.canvas {
  margin: 100px auto 100px;
  width: 95%;
  text-align: center;
}

.button {
  width: 100px;
  height: 100px;
  border: solid black 2px;
  display: inline-block;
}

#grey {
  background: grey;
}

#white {
  background: white;
}
#blue {
  background: blue;
}
#yellow {
  background: yellow;
}
#purple {
  background-color: purple;
}

h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
}

h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  line-height: 1.75rem;
}